In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('example.db', isolation_level = None)

In [ ]:
conn.execute('CREATE TABLE IF NOT EXISTS cate(name TEXT NOT NULL,' \
' birthdate TEXT,' \
'fur TEXT, ' \
'weight_kg REAL ) STRICT')

In [ ]:
sqlite3.sqlite_version

In [ ]:
conn.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall()

In [ ]:
conn.execute('PRAGMA TABLE_INFO(cate)').fetchall()

In [ ]:
conn = sqlite3.connect('example.db', isolation_level=None)

In [ ]:
conn.execute('CREATE TABLE IF NOT EXISTS cats (name TEXT NOT NULL,' \
'birthday TEXT,' \
'fur TEXT,' \
'weight_kg REAL) STRICT')

In [ ]:
conn.execute('INSERT INTO cats VALUES ("Zophie", "22-04-24", "black", 5.6)')

In [ ]:
cat_name = "Zophie"

In [ ]:
cat_bday = "22-04-24"

In [ ]:
fur_color = "black"

In [ ]:
cat_weight = 5.6

In [ ]:
conn.execute(f'INSERT INTO cats VALUES ("{cat_name}", "{cat_bday}", "{fur_color}", {cat_weight})')

In [ ]:
conn.execute(f'INSERT INTO cats VALUES (?, ?, ?, ?)',[cat_name, cat_bday, fur_color, cat_weight])

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('example.db', isolation_level=None)

In [ ]:
conn.execute('SELECT * FROM cats').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats').fetchall()

In [ ]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [ ]:
for row in conn.execute('SELECT * FROM cats'):
    print('Row data: ', row)
    print(row[0], "is one of my favorite cat.")

In [ ]:
conn.execute('SELECT * FROM cats WHERE fur = "black"').fetchall()

In [ ]:
import pprint

In [ ]:
match_cats = conn.execute('SELECT * FROM cats WHERE fur = "black" OR birthdate >= "2024-01-01"').fetchall()

In [ ]:
pprint.pprint(match_cats)

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name LIKE "%y"').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name Like "ja%"').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name Like "%ob%"').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name GLOB "*m*"').fetchall()

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [ ]:
pprint.pprint(conn.execute('SELECT * FROM cats ORDER BY fur').fetchall())

In [ ]:
cur = conn.execute('SELECT * FROM cats ORDER BY fur, birthdate').fetchall()

In [ ]:
pprint.pprint(cur)

In [ ]:
cur = conn.execute('SELECT * FROM cats ORDER BY fur, birthdate DESC').fetchall()

In [ ]:
pprint.pprint(cur)

In [ ]:
conn.execute('SELECT * FROM cats').fetchall()[:3]

In [ ]:
conn.execute('SELECT * FROM cats LIMIT 4').fetchall()

In [ ]:
conn.execute('SELECT * FROM cats WHERE fur="orange" ORDER BY birthdate LIMIT 4').fetchall()

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [ ]:
conn.execute('CREATE INDEX idx_name ON cats (name)')

In [4]:
conn.execute('CREATE INDEX idx_birthdate ON cats (birthdate)')

In [5]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "index" AND tbl_name = "cats"').fetchall()

[('idx_name',), ('idx_birthdate',)]

In [6]:
conn.execute('DROP INDEX idx_name')

In [7]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "index" AND tbl_name = "cats"').fetchall()

[('idx_birthdate',)]

In [8]:
import sqlite3

In [11]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [18]:
conn.execute('SELECT * FROM cats WHERE rowid = 1').fetchall()

[('Zophie', '2021-01-24', 'black', 5.6)]

In [19]:
conn.execute('UPDATE cats SET fur = "gray tabby"  WHERE rowid = 1')

In [20]:
conn.execute('SELECT * FROM cats WHERE rowid = 1').fetchall()

[('Zophie', '2021-01-24', 'gray tabby', 5.6)]

In [21]:
conn.execute('UPDATE cats SET fur = "orange and white" WHERE fur = "white and orange"')

In [22]:
import sqlite3

In [23]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [24]:
conn.execute('SELECT rowid, * FROM cats WHERE rowid = 1').fetchall()

[(1, 'Zophie', '2021-01-24', 'gray tabby', 5.6)]

In [25]:
conn.execute('DELETE FROM cats WHERE rowid = 1')

In [26]:
conn.execute('SELECT * FROM cats WHERE rowid = 1').fetchall()

[]

In [27]:
# rollback

In [28]:
import sqlite3

In [29]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [30]:
conn.execute('BEGIN')

In [31]:
conn.execute('INSERT INTO cats VALUES ("Socks", "2022-04-04", "white", 4.2)')

In [32]:
conn.execute('INSERT INTO cats VALUES ("Fluffy", "2022-10-30", "gray", 4.5)')

In [33]:
conn.rollback()

In [ ]:
conn.execute('SELECT * FROM cats WHERE name = "Socks"').fetchall()

[]

In [35]:
conn.execute('SELECT * FROM cats WHERE name = "Fluffy"').fetchall()

[]

In [36]:
conn.execute('INSERT INTO cats VALUES ("Socks", "2022-04-04", "white", 4.2)')

In [37]:
conn.execute('INSERT INTO cats VALUES ("Fluffy", "2022-10-30", "gray", 4.5)')

In [38]:
conn.commit()

In [39]:
conn.execute('SELECT * FROM cats WHERE name = "Fluffy"').fetchall()

[('Fluffy', '2022-10-30', 'gray', 4.5)]

In [40]:
conn.execute('SELECT * FROM cats WHERE name = "Socks"').fetchall()

[('Socks', '2022-04-04', 'white', 4.2)]