In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('example.db', isolation_level = None)

In [ ]:
conn.execute('CREATE TABLE IF NOT EXISTS cate(name TEXT NOT NULL,' \
' birthdate TEXT,' \
'fur TEXT, ' \
'weight_kg REAL ) STRICT')

In [ ]:
sqlite3.sqlite_version

In [ ]:
conn.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall()

In [ ]:
conn.execute('PRAGMA TABLE_INFO(cate)').fetchall()

In [ ]:
conn = sqlite3.connect('example.db', isolation_level=None)

In [ ]:
conn.execute('CREATE TABLE IF NOT EXISTS cats (name TEXT NOT NULL,' \
'birthday TEXT,' \
'fur TEXT,' \
'weight_kg REAL) STRICT')

In [ ]:
conn.execute('INSERT INTO cats VALUES ("Zophie", "22-04-24", "black", 5.6)')

In [ ]:
cat_name = "Zophie"

In [ ]:
cat_bday = "22-04-24"

In [ ]:
fur_color = "black"

In [ ]:
cat_weight = 5.6

In [ ]:
conn.execute(f'INSERT INTO cats VALUES ("{cat_name}", "{cat_bday}", "{fur_color}", {cat_weight})')

In [ ]:
conn.execute(f'INSERT INTO cats VALUES (?, ?, ?, ?)',[cat_name, cat_bday, fur_color, cat_weight])

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('example.db', isolation_level=None)

In [ ]:
conn.execute('SELECT * FROM cats').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats').fetchall()

In [ ]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [ ]:
for row in conn.execute('SELECT * FROM cats'):
    print('Row data: ', row)
    print(row[0], "is one of my favorite cat.")

In [ ]:
conn.execute('SELECT * FROM cats WHERE fur = "black"').fetchall()

In [ ]:
import pprint

In [ ]:
match_cats = conn.execute('SELECT * FROM cats WHERE fur = "black" OR birthdate >= "2024-01-01"').fetchall()

In [ ]:
pprint.pprint(match_cats)

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name LIKE "%y"').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name Like "ja%"').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name Like "%ob%"').fetchall()

In [ ]:
conn.execute('SELECT rowid, name FROM cats WHERE name GLOB "*m*"').fetchall()

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [ ]:
pprint.pprint(conn.execute('SELECT * FROM cats ORDER BY fur').fetchall())

In [ ]:
cur = conn.execute('SELECT * FROM cats ORDER BY fur, birthdate').fetchall()

In [ ]:
pprint.pprint(cur)

In [ ]:
cur = conn.execute('SELECT * FROM cats ORDER BY fur, birthdate DESC').fetchall()

In [ ]:
pprint.pprint(cur)

In [ ]:
conn.execute('SELECT * FROM cats').fetchall()[:3]

In [ ]:
conn.execute('SELECT * FROM cats LIMIT 4').fetchall()

In [ ]:
conn.execute('SELECT * FROM cats WHERE fur="orange" ORDER BY birthdate LIMIT 4').fetchall()

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [ ]:
conn.execute('CREATE INDEX idx_name ON cats (name)')

In [4]:
conn.execute('CREATE INDEX idx_birthdate ON cats (birthdate)')

In [5]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "index" AND tbl_name = "cats"').fetchall()

[('idx_name',), ('idx_birthdate',)]

In [6]:
conn.execute('DROP INDEX idx_name')

In [7]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "index" AND tbl_name = "cats"').fetchall()

[('idx_birthdate',)]

In [8]:
import sqlite3

In [11]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [18]:
conn.execute('SELECT * FROM cats WHERE rowid = 1').fetchall()

[('Zophie', '2021-01-24', 'black', 5.6)]

In [19]:
conn.execute('UPDATE cats SET fur = "gray tabby"  WHERE rowid = 1')

In [20]:
conn.execute('SELECT * FROM cats WHERE rowid = 1').fetchall()

[('Zophie', '2021-01-24', 'gray tabby', 5.6)]

In [21]:
conn.execute('UPDATE cats SET fur = "orange and white" WHERE fur = "white and orange"')

In [22]:
import sqlite3

In [23]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [24]:
conn.execute('SELECT rowid, * FROM cats WHERE rowid = 1').fetchall()

[(1, 'Zophie', '2021-01-24', 'gray tabby', 5.6)]

In [25]:
conn.execute('DELETE FROM cats WHERE rowid = 1')

In [26]:
conn.execute('SELECT * FROM cats WHERE rowid = 1').fetchall()

[]

In [27]:
# rollback

In [28]:
import sqlite3

In [29]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [30]:
conn.execute('BEGIN')

In [31]:
conn.execute('INSERT INTO cats VALUES ("Socks", "2022-04-04", "white", 4.2)')

In [32]:
conn.execute('INSERT INTO cats VALUES ("Fluffy", "2022-10-30", "gray", 4.5)')

In [33]:
conn.rollback()

In [ ]:
conn.execute('SELECT * FROM cats WHERE name = "Socks"').fetchall()

[]

In [35]:
conn.execute('SELECT * FROM cats WHERE name = "Fluffy"').fetchall()

[]

In [36]:
conn.execute('INSERT INTO cats VALUES ("Socks", "2022-04-04", "white", 4.2)')

In [37]:
conn.execute('INSERT INTO cats VALUES ("Fluffy", "2022-10-30", "gray", 4.5)')

In [38]:
conn.commit()

In [39]:
conn.execute('SELECT * FROM cats WHERE name = "Fluffy"').fetchall()

[('Fluffy', '2022-10-30', 'gray', 4.5)]

In [40]:
conn.execute('SELECT * FROM cats WHERE name = "Socks"').fetchall()

[('Socks', '2022-04-04', 'white', 4.2)]

In [41]:
backup_conn = sqlite3.connect('backup.db', isolation_level=None)

In [42]:
conn.backup(backup_conn)

In [43]:
# Altering and Dropping table

In [44]:
import sqlite3

In [45]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [46]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "table"').fetchall()

[('cats',), ('vaccinations',)]

In [47]:
conn.execute('ALTER TABLE cats RENAME TO felines')

In [48]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "table"').fetchall()

[('felines',), ('vaccinations',)]

In [49]:
conn.execute('PRAGMA TABLE_INFO(felines)').fetchall()[2]

(2, 'fur', 'TEXT', 0, None, 0)

In [50]:
conn.execute('ALTER TABLE felines RENAME COLUMN fur TO description')

In [51]:
conn.execute('PRAGMA TABLE_INFO(felines)').fetchall()[2]

(2, 'description', 'TEXT', 0, None, 0)

In [ ]:
conn.execute("ALTER TABLE felines ADD COLUMN is_loved INTEGER DEFAULT 1")

In [55]:
import pprint

In [56]:
pprint.pprint(conn.execute('SELECT * FROM felines LIMIT 3').fetchall())

[('Miguel', '2016-12-24', 'siamese', 6.2, 1),
 ('Jacob', '2022-02-20', 'orange and white', 5.5, 1),
 ('Gumdrop', '2020-08-23', 'white', 6.4, 1)]

In [57]:
conn.execute('PRAGMA TABLE_INFO(felines)').fetchall()

[(0, 'name', 'TEXT', 1, None, 0),
 (1, 'birthdate', 'TEXT', 0, None, 0),
 (2, 'description', 'TEXT', 0, None, 0),
 (3, 'weight_kg', 'REAL', 0, None, 0),
 (4, 'is_loved', 'INTEGER', 0, '1', 0)]

In [58]:
conn.execute('ALTER TABLE felines DROP COLUMN is_loved')

In [59]:
conn.execute('PRAGMA TABLE_INFO(felines)').fetchall()

[(0, 'name', 'TEXT', 1, None, 0),
 (1, 'birthdate', 'TEXT', 0, None, 0),
 (2, 'description', 'TEXT', 0, None, 0),
 (3, 'weight_kg', 'REAL', 0, None, 0)]

In [60]:
# conn.execute('DROP TABLE felines')

In [61]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "table"').fetchall()

[('felines',), ('vaccinations',)]

In [62]:
conn.execute('DROP TABLE vaccinations')

In [63]:
conn.execute('SELECT name FROM sqlite_schema WHERE type = "table"').fetchall()

[('felines',)]

In [15]:
# Creating foreign keys

In [16]:
import sqlite3

In [17]:
conn = sqlite3.connect('sweigartcats.db', isolation_level= None)

In [18]:
conn.execute('PRAGMA foreign_keys = ON')

In [19]:
conn.execute('CREATE TABLE IF NOT EXISTS vaccinations (vaccine TEXT, date_administered TEXT, administered_by TEXT, cat_id INTEGER, FOREIGN KEY(cat_id) REFERENCES cats(rowid))')

In [21]:
conn.execute("ALTER TABLE cats RENAME TO cats_old")

In [22]:
conn.execute(
    """CREATE TABLE cats (
    cat_id INTEGER PRIMARY KEY, 
    name TEXT NOT NULL, 
    birthdate TEXT, 
    fur TEXT, 
    weight_kg REAL
) STRICT"""
)

In [23]:
conn.execute(
    """INSERT INTO cats (name, birthdate, fur, weight_kg) 
                SELECT name, birthdate, fur, weight_kg FROM cats_old"""
)

In [24]:
conn.execute("DROP TABLE IF EXISTS vaccinations")
conn.execute(
    """CREATE TABLE vaccinations (
    vaccine TEXT,
    date_administered TEXT, 
    administered_by TEXT, 
    cat_id INTEGER,
    FOREIGN KEY(cat_id) REFERENCES cats(cat_id)
) STRICT"""
)

In [25]:
conn.execute('INSERT INTO vaccinations VALUES ("rabbies", "2023-06-06", "Dr. Echo", 1)')

In [26]:
conn.execute('INSERT INTO vaccinations VALUES ("FeLV", "2023-06-06", "Dr. Echo", 1)')

In [27]:
conn.execute('SELECT * FROM vaccinations').fetchall()

[('rabbies', '2023-06-06', 'Dr. Echo', 1),
 ('FeLV', '2023-06-06', 'Dr. Echo', 1)]

In [29]:
conn.execute('SELECT rowid, * FROM cats WHERE name = "Mango"').fetchall()

[(29, 29, 'Mango', '2017-02-12', 'tuxedo', 6.8)]

In [31]:
conn.execute('INSERT INTO vaccinations VALUES ("rabies", "2023-06-11", "Dr. Echo", 23)')

In [32]:
conn.execute('SELECT * FROM cats INNER JOIN vaccinations ON cats.rowid = vaccinations.cat_id').fetchall()

[(1,
  'Zophie',
  '2021-01-24',
  'black',
  5.6,
  'rabbies',
  '2023-06-06',
  'Dr. Echo',
  1),
 (1,
  'Zophie',
  '2021-01-24',
  'black',
  5.6,
  'FeLV',
  '2023-06-06',
  'Dr. Echo',
  1),
 (23,
  'Mandy',
  '2023-05-18',
  'hairless',
  6.8,
  'rabies',
  '2023-06-11',
  'Dr. Echo',
  23)]

In [33]:
# in-memory databases

In [34]:
import sqlite3

In [35]:
memory_db_conn = sqlite3.connect(':memory:', isolation_level=None)

In [36]:
memory_db_conn.execute('CREATE TABLE test (name TEXT, number REAL)')

In [ ]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [40]:
with open('sweigartcats_queries.txt', 'w', encoding='utf-8') as fileObj:
    for line in conn.iterdump():
        fileObj.write(line + '\n')