In [12]:
import sqlite3

In [13]:
conn = sqlite3.connect('example.db', isolation_level = None)

In [ ]:
conn.execute('CREATE TABLE IF NOT EXISTS cate(name TEXT NOT NULL,' \
' birthdate TEXT,' \
'fur TEXT, ' \
'weight_kg REAL ) STRICT')

In [16]:
sqlite3.sqlite_version

'3.49.1'

In [17]:
conn.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall()

[('cate',)]

In [19]:
conn.execute('PRAGMA TABLE_INFO(cate)').fetchall()

[(0, 'name', 'TEXT', 1, None, 0),
 (1, 'birthdate', 'TEXT', 0, None, 0),
 (2, 'fur', 'TEXT', 0, None, 0),
 (3, 'weight_kg', 'REAL', 0, None, 0)]

In [20]:
conn = sqlite3.connect('example.db', isolation_level=None)

In [22]:
conn.execute('CREATE TABLE IF NOT EXISTS cats (name TEXT NOT NULL,' \
'birthday TEXT,' \
'fur TEXT,' \
'weight_kg REAL) STRICT')

In [24]:
conn.execute('INSERT INTO cats VALUES ("Zophie", "22-04-24", "black", 5.6)')

In [25]:
cat_name = "Zophie"

In [26]:
cat_bday = "22-04-24"

In [27]:
fur_color = "black"

In [28]:
cat_weight = 5.6

In [30]:
conn.execute(f'INSERT INTO cats VALUES ("{cat_name}", "{cat_bday}", "{fur_color}", {cat_weight})')

In [31]:
conn.execute(f'INSERT INTO cats VALUES (?, ?, ?, ?)',[cat_name, cat_bday, fur_color, cat_weight])