In [12]:
import sqlite3

In [13]:
conn = sqlite3.connect('example.db', isolation_level = None)

In [ ]:
conn.execute('CREATE TABLE IF NOT EXISTS cate(name TEXT NOT NULL,' \
' birthdate TEXT,' \
'fur TEXT, ' \
'weight_kg REAL ) STRICT')

In [16]:
sqlite3.sqlite_version

'3.49.1'

In [17]:
conn.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall()

[('cate',)]

In [19]:
conn.execute('PRAGMA TABLE_INFO(cate)').fetchall()

[(0, 'name', 'TEXT', 1, None, 0),
 (1, 'birthdate', 'TEXT', 0, None, 0),
 (2, 'fur', 'TEXT', 0, None, 0),
 (3, 'weight_kg', 'REAL', 0, None, 0)]

In [20]:
conn = sqlite3.connect('example.db', isolation_level=None)

In [22]:
conn.execute('CREATE TABLE IF NOT EXISTS cats (name TEXT NOT NULL,' \
'birthday TEXT,' \
'fur TEXT,' \
'weight_kg REAL) STRICT')

In [24]:
conn.execute('INSERT INTO cats VALUES ("Zophie", "22-04-24", "black", 5.6)')

In [25]:
cat_name = "Zophie"

In [26]:
cat_bday = "22-04-24"

In [27]:
fur_color = "black"

In [28]:
cat_weight = 5.6

In [30]:
conn.execute(f'INSERT INTO cats VALUES ("{cat_name}", "{cat_bday}", "{fur_color}", {cat_weight})')

In [31]:
conn.execute(f'INSERT INTO cats VALUES (?, ?, ?, ?)',[cat_name, cat_bday, fur_color, cat_weight])

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('example.db', isolation_level=None)

In [3]:
conn.execute('SELECT * FROM cats').fetchall()

[('Zophie', '22-04-24', 'black', 5.6),
 ('Zophie', '22-04-24', 'black', 5.6),
 ('Zophie', '22-04-24', 'black', 5.6)]

In [4]:
conn.execute('SELECT rowid, name FROM cats').fetchall()

[(1, 'Zophie'), (2, 'Zophie'), (3, 'Zophie')]

In [5]:
conn = sqlite3.connect('sweigartcats.db', isolation_level=None)

In [6]:
for row in conn.execute('SELECT * FROM cats'):
    print('Row data: ', row)
    print(row[0], "is one of my favorite cat.")

Row data:  ('Zophie', '2021-01-24', 'black', 5.6)
Zophie is one of my favorite cat.
Row data:  ('Miguel', '2016-12-24', 'siamese', 6.2)
Miguel is one of my favorite cat.
Row data:  ('Jacob', '2022-02-20', 'orange and white', 5.5)
Jacob is one of my favorite cat.
Row data:  ('Gumdrop', '2020-08-23', 'white', 6.4)
Gumdrop is one of my favorite cat.
Row data:  ('Hector', '2022-03-15', 'orange and white', 7.5)
Hector is one of my favorite cat.
Row data:  ('Night', '2019-03-16', 'tuxedo', 6.5)
Night is one of my favorite cat.
Row data:  ('Trey', '2022-07-07', 'calico', 5.8)
Trey is one of my favorite cat.
Row data:  ('Maverick', '2014-12-04', 'siamese', 5.6)
Maverick is one of my favorite cat.
Row data:  ('Powder', '2022-04-30', 'tortoiseshell', 5.0)
Powder is one of my favorite cat.
Row data:  ('Rita', '2020-11-06', 'tortoiseshell', 6.0)
Rita is one of my favorite cat.
Row data:  ('Toby', '2021-05-17', 'black', 6.8)
Toby is one of my favorite cat.
Row data:  ('Sprinkles', '2013-07-30', 'tuxedo', 7.0)
Sprinkles is one of my favorite cat.
Row data:  ('Sadie', '2016-08-06', 'brown', 8.0)
Sadie is one of my favorite cat.
Row data:  ('Thea', '2022-01-13', 'brown', 5.9)
Thea is one of my favorite cat.
Row data:  ('Thomas', '2023-03-09', 'gray', 7.8)
Thomas is one of my favorite cat.
Row data:  ('Ginger', '2020-09-22', 'white', 5.8)
Ginger is one of my favorite cat.
Row data:  ('Molly', '2021-09-02', 'orange and white', 6.1)
Molly is one of my favorite cat.
Row data:  ('Dusty', '2015-10-20', 'white', 6.8)
Dusty is one of my favorite cat.
Row data:  ('Sage', '2013-12-30', 'tortoiseshell', 7.6)
Sage is one of my favorite cat.
Row data:  ('Iris', '2017-07-13', 'bengal', 6.8)
Iris is one of my favorite cat.
Row data:  ('Sara', '2022-07-16', 'calico', 5.4)
Sara is one of my favorite cat.
Row data:  ('Snow', '2019-05-17', 'white', 6.7)
Snow is one of my favorite cat.
Row data:  ('Mandy', '2023-05-18', 'hairless', 6.8)
Mandy is one of my favorite cat.
Row data:  ('Taffy', '2024-12-09', 'white', 7.0)
Taffy is one of my favorite cat.
Row data:  ('Lion', '2015-08-15', 'tuxedo', 7.4)
Lion is one of my favorite cat.
Row data:  ('Hollie', '2024-08-07', 'calico', 6.0)
Hollie is one of my favorite cat.
Row data:  ('Cutie', '2017-01-11', 'white', 6.9)
Cutie is one of my favorite cat.
Row data:  ('Dazzle', '2019-09-30', 'gray', 6.4)
Dazzle is one of my favorite cat.
Row data:  ('Mango', '2017-02-12', 'tuxedo', 6.8)
Mango is one of my favorite cat.
Row data:  ('Lewis', '2024-03-19', 'orange tabby', 5.1)
Lewis is one of my favorite cat.
Row data:  ('Rocky', '2015-02-18', 'orange and white', 6.5)
Rocky is one of my favorite cat.
Row data:  ('Thor', '2013-05-14', 'black', 5.2)
Thor is one of my favorite cat.
Row data:  ('Bobby', '2021-08-11', 'orange and white', 5.3)
Bobby is one of my favorite cat.
Row data:  ('Vincent', '2015-02-08', 'black and white', 7.2)
Vincent is one of my favorite cat.
Row data:  ('Rocco', '2023-03-10', 'hairless', 8.0)
Rocco is one of my favorite cat.
Row data:  ('Misty', '2016-07-08', 'orange', 5.2)
Misty is one of my favorite cat.
Row data:  ('Ruthie', '2021-02-15', 'siamese', 5.7)
Ruthie is one of my favorite cat.
Row data:  ('Mittens', '2013-07-03', 'orange', 7.4)
Mittens is one of my favorite cat.
Row data:  ('Morgan', '2021-11-20', 'siamese', 5.0)
Morgan is one of my favorite cat.
Row data:  ('Mitsy', '2015-05-29', 'white', 5.0)
Mitsy is one of my favorite cat.
Row data:  ('Chance', '2020-07-26', 'black and white', 6.3)
Chance is one of my favorite cat.
Row data:  ('Hugh', '2022-01-16', 'orange tabby', 6.7)
Hugh is one of my favorite cat.
Row data:  ('Chester', '2013-01-15', 'calico', 7.5)
Chester is one of my favorite cat.
Row data:  ('Colby', '2014-10-31', 'calico', 5.8)
Colby is one of my favorite cat.
Row data:  ('Mars', '2014-02-11', 'calico', 8.0)
Mars is one of my favorite cat.
Row data:  ('Riley', '2021-07-24', 'orange tabby', 5.1)
Riley is one of my favorite cat.
Row data:  ('Jenna', '2015-04-09', 'orange and white', 6.2)
Jenna is one of my favorite cat.
Row data:  ('Spice', '2016-07-26', 'orange tabby', 5.0)
Spice is one of my favorite cat.
Row data:  ('Blaze', '2023-01-16', 'orange', 7.4)
Blaze is one of my favorite cat.
Row data:  ('Sam', '2014-02-22', 'tortoiseshell', 6.3)
Sam is one of my favorite cat.
Row data:  ('Celine', '2015-04-18', 'white', 7.3)
Celine is one of my favorite cat.
Row data:  ('Ruby', '2023-12-22', 'bengal', 5.0)
Ruby is one of my favorite cat.
Row data:  ('Sugar', '2020-10-16', 'siamese', 6.0)
Sugar is one of my favorite cat.
Row data:  ('Casper', '2018-06-26', 'hairless', 7.1)
Casper is one of my favorite cat.
Row data:  ('Java', '2019-12-19', 'tortoiseshell', 5.4)
Java is one of my favorite cat.
Row data:  ('Olivia', '2018-12-09', 'calico', 7.3)
Olivia is one of my favorite cat.
Row data:  ('Slate', '2022-06-04', 'gray', 7.1)
Slate is one of my favorite cat.
Row data:  ('Shell', '2024-06-16', 'tortoiseshell', 6.5)
Shell is one of my favorite cat.
Row data:  ('Elton', '2020-05-28', 'bengal', 5.4)
Elton is one of my favorite cat.
Row data:  ('Snuggles', '2020-03-02', 'brown', 7.9)
Snuggles is one of my favorite cat.
Row data:  ('Blanca', '2022-05-24', 'orange and white', 5.2)
Blanca is one of my favorite cat.
Row data:  ('Sophie', '2019-12-12', 'siamese', 5.7)
Sophie is one of my favorite cat.
Row data:  ('Tiger', '2017-08-17', 'orange tabby', 5.1)
Tiger is one of my favorite cat.
Row data:  ('Katrina', '2021-03-16', 'tuxedo', 7.4)
Katrina is one of my favorite cat.
Row data:  ('Dawn', '2018-08-16', 'hairless', 5.4)
Dawn is one of my favorite cat.
Row data:  ('Silver', '2023-06-08', 'orange', 7.6)
Silver is one of my favorite cat.
Row data:  ('Tiger', '2021-09-12', 'black and white', 5.4)
Tiger is one of my favorite cat.
Row data:  ('Boots', '2020-05-31', 'tortoiseshell', 6.4)
Boots is one of my favorite cat.
Row data:  ('Cinnamon', '2013-03-07', 'calico', 5.2)
Cinnamon is one of my favorite cat.
Row data:  ('Diva', '2019-11-14', 'orange tabby', 5.2)
Diva is one of my favorite cat.
Row data:  ('Daisy', '2019-03-19', 'white', 6.0)
Daisy is one of my favorite cat.
Row data:  ('Topher', '2018-10-05', 'tuxedo', 7.8)
Topher is one of my favorite cat.
Row data:  ('Crosby', '2018-06-02', 'black and white', 6.4)
Crosby is one of my favorite cat.
Row data:  ('Hunter', '2015-12-29', 'gray tabby', 5.5)
Hunter is one of my favorite cat.
Row data:  ('Shakespeare', '2019-06-17', 'gray tabby', 7.7)
Shakespeare is one of my favorite cat.
Row data:  ('Luna', '2022-08-05', 'orange tabby', 5.4)
Luna is one of my favorite cat.
Row data:  ('Petra', '2020-08-17', 'orange and white', 6.5)
Petra is one of my favorite cat.
Row data:  ('Harry', '2015-06-23', 'siamese', 5.0)
Harry is one of my favorite cat.
Row data:  ('Piers', '2014-07-08', 'orange', 5.2)
Piers is one of my favorite cat.
Row data:  ('Leon', '2023-06-21', 'hairless', 6.3)
Leon is one of my favorite cat.
Row data:  ('Jasmine', '2024-09-05', 'orange tabby', 6.3)
Jasmine is one of my favorite cat.
Row data:  ('Athena', '2018-04-16', 'orange tabby', 7.6)
Athena is one of my favorite cat.
Row data:  ('Sassy', '2017-08-20', 'black', 7.5)
Sassy is one of my favorite cat.
Row data:  ('Oreo', '2017-10-31', 'siamese', 5.4)
Oreo is one of my favorite cat.
Row data:  ('Samantha', '2014-01-11', 'orange and white', 6.3)
Samantha is one of my favorite cat.
Row data:  ('Jamison', '2015-09-07', 'tortoiseshell', 7.4)
Jamison is one of my favorite cat.
Row data:  ('Twinkie', '2022-12-11', 'brown', 6.1)
Twinkie is one of my favorite cat.
Row data:  ('Snowflake', '2022-02-13', 'tuxedo', 5.4)
Snowflake is one of my favorite cat.
Row data:  ('Paws', '2015-01-24', 'gray', 5.5)
Paws is one of my favorite cat.
Row data:  ('Sheila', '2018-12-04', 'tuxedo', 7.8)
Sheila is one of my favorite cat.
Row data:  ('Lily', '2014-04-01', 'tortoiseshell', 6.0)
Lily is one of my favorite cat.
Row data:  ('Dragon', '2021-04-27', 'orange and white', 8.0)
Dragon is one of my favorite cat.
Row data:  ('Luke', '2021-02-07', 'black and white', 5.0)
Luke is one of my favorite cat.
Row data:  ('Hope', '2016-05-22', 'black', 7.6)
Hope is one of my favorite cat.
Row data:  ('Rocket', '2013-03-28', 'orange and white', 6.5)
Rocket is one of my favorite cat.
Row data:  ('Muffin', '2020-01-28', 'gray tabby', 5.7)
Muffin is one of my favorite cat.
Row data:  ('Bingo', '2013-11-07', 'brown', 6.2)
Bingo is one of my favorite cat.
Row data:  ('Wyatt', '2016-06-18', 'tortoiseshell', 6.4)
Wyatt is one of my favorite cat.
Row data:  ('Spunky', '2015-09-04', 'gray', 5.9)
Spunky is one of my favorite cat.
Row data:  ('Shadow', '2021-01-18', 'calico', 6.0)
Shadow is one of my favorite cat.