In [1]:
import pandas as pd

In [4]:
# reading 1 csv file from the url or website
ef_premier25 = pd.read_csv("https://football-data.co.uk/mmz4281/2526/E0.csv")

In [6]:
# showing dataframe
ef_premier25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,E0,07/01/2026,19:30,Fulham,Chelsea,2,1,H,0,0,...,1.83,2.03,1.84,2.10,1.83,2.03,1.78,1.96,1.93,2.06
206,E0,07/01/2026,19:30,Man City,Brighton,1,1,D,1,0,...,1.80,2.05,1.87,2.06,1.83,2.12,1.75,2.05,1.91,2.08
207,E0,07/01/2026,20:15,Burnley,Man United,2,2,D,1,0,...,1.93,1.93,1.95,1.97,1.93,1.93,1.88,1.89,2.02,1.97
208,E0,07/01/2026,20:15,Newcastle,Leeds,4,3,H,1,2,...,1.75,2.05,1.84,2.10,1.78,2.05,1.74,2.04,1.86,2.14
209,E0,08/01/2026,20:00,Arsenal,Liverpool,0,0,D,0,0,...,2.00,1.85,2.05,1.88,2.00,1.94,1.93,1.85,2.06,1.93

In [10]:
# renaming columns
ef_premier25.rename(
    columns={"FTHG": "home_goals",
    "FTAG": "away_goals"}, inplace=True)

In [12]:
# renamed dataframes
ef_premier25

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,E0,07/01/2026,19:30,Fulham,Chelsea,2,1,H,0,0,...,1.83,2.03,1.84,2.10,1.83,2.03,1.78,1.96,1.93,2.06
206,E0,07/01/2026,19:30,Man City,Brighton,1,1,D,1,0,...,1.80,2.05,1.87,2.06,1.83,2.12,1.75,2.05,1.91,2.08
207,E0,07/01/2026,20:15,Burnley,Man United,2,2,D,1,0,...,1.93,1.93,1.95,1.97,1.93,1.93,1.88,1.89,2.02,1.97
208,E0,07/01/2026,20:15,Newcastle,Leeds,4,3,H,1,2,...,1.75,2.05,1.84,2.10,1.78,2.05,1.74,2.04,1.86,2.14
209,E0,08/01/2026,20:00,Arsenal,Liverpool,0,0,D,0,0,...,2.00,1.85,2.05,1.88,2.00,1.94,1.93,1.85,2.06,1.93

In [14]:
ef_championship = pd.read_csv("https://football-data.co.uk/mmz4281/2526/E1.csv")

In [15]:
ef_championship

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E1,08/08/2025,20:00,Birmingham,Ipswich,1,1,D,0,0,...,1.88,1.98,1.81,2.12,1.88,1.98,1.81,1.94,1.90,2.10
1,E1,09/08/2025,12:30,Charlton,Watford,1,0,H,0,0,...,1.95,1.90,1.95,1.95,1.95,1.90,1.86,1.83,2.03,1.95
2,E1,09/08/2025,12:30,Coventry,Hull,0,0,D,0,0,...,1.88,1.98,1.95,1.95,1.91,1.98,1.87,1.82,1.97,2.01
3,E1,09/08/2025,12:30,Southampton,Wrexham,2,1,H,0,1,...,1.90,1.95,1.75,2.18,1.90,1.95,1.84,1.91,1.92,2.07
4,E1,09/08/2025,15:00,Middlesbrough,Swansea,1,0,H,0,0,...,2.05,1.75,2.00,1.91,2.05,1.82,2.00,1.76,2.16,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,E1,04/01/2026,15:00,Derby,Wrexham,1,2,A,1,1,...,1.88,1.98,1.92,1.99,1.93,1.98,1.89,1.87,1.96,2.01
303,E1,04/01/2026,15:00,Middlesbrough,Southampton,4,0,H,0,0,...,1.98,1.88,1.99,1.91,1.98,1.88,1.90,1.85,2.05,1.94
304,E1,04/01/2026,15:00,Millwall,Swansea,2,1,H,1,0,...,1.83,2.03,1.85,2.06,1.83,2.03,1.76,2.00,1.87,2.12
305,E1,04/01/2026,15:00,Norwich,Stoke,0,2,A,0,0,...,1.98,1.88,2.02,1.88,2.00,1.88,1.94,1.80,2.02,1.94
306,E1,05/01/2026,20:00,Leicester,West Brom,2,1,H,1,1,...,2.08,1.73,2.12,1.81,2.08,1.83,2.03,1.75,2.13,1.87

In [16]:
ef_championship.rename(columns={"FTHG": "HomeGoals",
                                "FTAG": "AwayGoals"},inplace=True)

In [17]:
ef_championship

,Div,Date,Time,HomeTeam,AwayTeam,HomeGoals,AwayGoals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E1,08/08/2025,20:00,Birmingham,Ipswich,1,1,D,0,0,...,1.88,1.98,1.81,2.12,1.88,1.98,1.81,1.94,1.90,2.10
1,E1,09/08/2025,12:30,Charlton,Watford,1,0,H,0,0,...,1.95,1.90,1.95,1.95,1.95,1.90,1.86,1.83,2.03,1.95
2,E1,09/08/2025,12:30,Coventry,Hull,0,0,D,0,0,...,1.88,1.98,1.95,1.95,1.91,1.98,1.87,1.82,1.97,2.01
3,E1,09/08/2025,12:30,Southampton,Wrexham,2,1,H,0,1,...,1.90,1.95,1.75,2.18,1.90,1.95,1.84,1.91,1.92,2.07
4,E1,09/08/2025,15:00,Middlesbrough,Swansea,1,0,H,0,0,...,2.05,1.75,2.00,1.91,2.05,1.82,2.00,1.76,2.16,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,E1,04/01/2026,15:00,Derby,Wrexham,1,2,A,1,1,...,1.88,1.98,1.92,1.99,1.93,1.98,1.89,1.87,1.96,2.01
303,E1,04/01/2026,15:00,Middlesbrough,Southampton,4,0,H,0,0,...,1.98,1.88,1.99,1.91,1.98,1.88,1.90,1.85,2.05,1.94
304,E1,04/01/2026,15:00,Millwall,Swansea,2,1,H,1,0,...,1.83,2.03,1.85,2.06,1.83,2.03,1.76,2.00,1.87,2.12
305,E1,04/01/2026,15:00,Norwich,Stoke,0,2,A,0,0,...,1.98,1.88,2.02,1.88,2.00,1.88,1.94,1.80,2.02,1.94
306,E1,05/01/2026,20:00,Leicester,West Brom,2,1,H,1,1,...,2.08,1.73,2.12,1.81,2.08,1.83,2.03,1.75,2.13,1.87